<html>
  <head>
    <title>Assembly Station 2</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>
  <body>
    <center><h1>Assembly Station 2</h1></center>
    <center><img src=/media/X_assy2.png id="image" style="height: 700px; margin: 50px"></center>
  </body>
</html>

<script>
    function updateIntructionImage(endpoint, id) {
        $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data) {
            var img = document.getElementById(id);
            if (img.src != data.img) {
                img.src = data.img;
            }
        },
        error: function(error_data) {
            console.log(error_data);
        }
        })    
    }
    setInterval(function(){
        updateIntructionImage('/kanban/assy2/img', 'image');
    }, 500);
        
</script>